params {
        replicates= 
        scenario=""
	scoef=[]
	mprop=[]
	conditioned_frequency=""
	N=""
	sample_size=""



	sampling_scheme=""
	ne_variation=""


        slim_script=""
    	outdir="" 
   
}

profiles {

        standard {
                process.executor = "local"
                process.cpus = 12
                process.memory = 40
                process.conda = "/export/home/grijo/miniconda3/envs/slim"
                }

        clusteruy {
                process.executor = "slurm"
                process.cpus=20
                process.memory="10G"
                process.conda="/clusteruy/home/grijo/miniconda3/envs/slim"
                process.clusterOptions="--qos=besteffort --partition=besteffort"
                process.errorStrategy="retry"
                executor.queueSize=50
        }

        hpc02 {
                process.executor = "local"
                process.cpus = 50
                process.memory = "20G"
                process.conda= "/home/grijo/miniconda3/envs/slim"


        }
}

manifest {
    description = "simulation pipeline."
    mainScript = "simulation.nf"

}


trace {
    enabled = true
    fields  = "task_id,hash,native_id,process,tag,name,status,exit,cpus,start,complete,realtime,%cpu,%mem"
    file = "run_info/trace-${params.scenario}-s${params.scoef}-m${params.mprop}-cond${params.conditioned_frequency}-${params.sampling_scheme}-${params.ne_variation}.txt"
    }

timeline {
    enabled = true
    file = "run_info/timeline-${params.scenario}-s${params.scoef}-m${params.mprop}-cond${params.conditioned_frequency}-${params.sampling_scheme}-${params.ne_variation}.html"
}

report {
    enabled = true
    file = "run_info/report-${params.scenario}-s${params.scoef}-m${params.mprop}-cond${params.conditioned_frequency}-${params.sampling_scheme}-${params.ne_variation}.html"
}


