params {
      
        replicates=2 
        scenario="test"
        scoef=[0.1]
        mcoef=[0.3]
        conditioned_frequency="0.1"
        N="1000"
        sample_size="50"
        K=10
        reynold_snps=3000
        nfit=10
        edges=1
        bootstrap=10
        covariance_script="../scenarios/covariance/simple.R"
        slim_script="../scenarios/slim/simple.slim"
        outdir="test"  

}

profiles {

        standard {
                process.executor = "local"
                process.cpus = 12
                process.memory = 40
                process.conda = "/export/home/grijo/miniconda3/envs/slim"
                }

        clusteruy {
                process.executor = "slurm"
                process.cpus=20
                process.memory="10G"
                process.conda="/clusteruy/home/grijo/miniconda3/envs/slim"
                process.clusterOptions="--qos=besteffort --partition=besteffort"
                process.errorStrategy="retry"
                executor.queueSize=50
        }

        hpc02 {
                process.executor = "local"
                process.cpus = 50
                process.memory = "20G"
                process.conda= "/home/grijo/miniconda3/envs/slim"


        }
}

manifest {
    description = "simulation pipeline."
    mainScript = "simulation.nf"

}


trace {
    enabled = true
    fields  = "task_id,hash,native_id,process,tag,name,status,exit,cpus,start,complete,realtime,%cpu,%mem"
    file = "run_info/trace-${params.scenario}.txt"
    }

timeline {
    enabled = true
    file = "run_info/timeline-${params.scenario}.html"
}

report {
    enabled = true
    file = "run_info/report-${params.scenario}.html"
}


